<div class="card mat-card">
    <div class="card-title">
      <h2> Experiencia</h2>    
               <table> 
                <tr>   
                   <td>      
                     <img class="logo_empresas2" [src]="miPorfolio.experiencia.empresa1.Image" alt="">
                  </td>
                  <td class="info1">
                    <h2>{{miPorfolio.experiencia.empresa1.name}} - {{miPorfolio.experiencia.empresa1.puesto}}</h2>
                    <h5>{{miPorfolio.experiencia.empresa1.fechaInicial}} - {{miPorfolio.experiencia.empresa1.fechaFinal}} <br>
                      {{miPorfolio.experiencia.empresa1.ciudad}} - {{miPorfolio.experiencia.empresa1.pais}}
                    </h5>  
                     <h4>{{miPorfolio.experiencia.empresa1.actividades.a}} <br>
                            {{miPorfolio.experiencia.empresa1.actividades.b}} <br>    
                            {{miPorfolio.experiencia.empresa1.actividades.c}}<br><br></h4>
                  </td>
               </tr>
            </table>      

            <table> 
              <tr>   
                 <td>      
                   <img class="logo_empresas3" [src]="miPorfolio.experiencia.empresa2.Image" alt="">
                </td>
                <td class="info1">
                  <h2>{{miPorfolio.experiencia.empresa2.name}} - {{miPorfolio.experiencia.empresa2.puesto}}</h2>
                  <h5>{{miPorfolio.experiencia.empresa2.fechaInicial}} - {{miPorfolio.experiencia.empresa2.fechaFinal}} <br>
                    {{miPorfolio.experiencia.empresa2.ciudad}} - {{miPorfolio.experiencia.empresa2.pais}}
                  </h5>  
                   <h4>{{miPorfolio.experiencia.empresa2.actividades.a}} <br>
                          {{miPorfolio.experiencia.empresa2.actividades.b}} <br>    
                          {{miPorfolio.experiencia.empresa2.actividades.c}}<br><br></h4>
                </td>
             </tr>
          </table>  
          
          <table> 
            <tr>   
               <td>      
                 <img class="logo_empresas3" [src]="miPorfolio.experiencia.empresa3.Image" alt="">
              </td>
              <td class="info1">
                <h2>{{miPorfolio.experiencia.empresa3.name}} - {{miPorfolio.experiencia.empresa3.puesto}}</h2>
                <h5>{{miPorfolio.experiencia.empresa3.fechaInicial}} - {{miPorfolio.experiencia.empresa3.fechaFinal}} <br>
                  {{miPorfolio.experiencia.empresa3.ciudad}} - {{miPorfolio.experiencia.empresa3.pais}}
                </h5>  
                 <h4>{{miPorfolio.experiencia.empresa3.actividades.a}} <br>
                        {{miPorfolio.experiencia.empresa3.actividades.b}} <br>    
                        {{miPorfolio.experiencia.empresa3.actividades.c}}<br><br></h4>
              </td>
           </tr>
        </table>  

        <table> 
          <tr>   
             <td>      
               <img class="logo_empresas3" [src]="miPorfolio.experiencia.empresa4.Image" alt="">
            </td>
            <td class="info1">
              <h2>{{miPorfolio.experiencia.empresa4.name}} - {{miPorfolio.experiencia.empresa4.puesto}}</h2>
              <h5>{{miPorfolio.experiencia.empresa4.fechaInicial}} - {{miPorfolio.experiencia.empresa4.fechaFinal}} <br>
                {{miPorfolio.experiencia.empresa4.ciudad}} - {{miPorfolio.experiencia.empresa4.pais}}
              </h5>  
               <h4>{{miPorfolio.experiencia.empresa4.actividades.a}} <br>
                      {{miPorfolio.experiencia.empresa4.actividades.b}} <br>    
                      {{miPorfolio.experiencia.empresa4.actividades.c}}<br><br></h4>
            </td>
         </tr>
      </table>  

      <table> 
        <tr>   
           <td>      
             <img class="logo_empresas3" [src]="miPorfolio.experiencia.empresa5.Image" alt="">
          </td>
          <td class="info1">
            <h2>{{miPorfolio.experiencia.empresa5.name}} - {{miPorfolio.experiencia.empresa5.puesto}}</h2>
            <h5>{{miPorfolio.experiencia.empresa5.fechaInicial}} - {{miPorfolio.experiencia.empresa5.fechaFinal}} <br>
              {{miPorfolio.experiencia.empresa5.ciudad}} - {{miPorfolio.experiencia.empresa5.pais}}
            </h5>  
             <h4>{{miPorfolio.experiencia.empresa5.actividades.a}} <br>
                    {{miPorfolio.experiencia.empresa5.actividades.b}} <br>    
                    {{miPorfolio.experiencia.empresa5.actividades.c}}<br><br></h4>
          </td>
       </tr>
    </table>  
    
 
       
