.logo_empresas2{
    background-color:indigo;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-right: 0px;
    align-items: center;
}

.logo_empresas3{
    background-color:rgb(214, 203, 222);
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-right: 0px;
    align-items: center;
}

.infoExp{
    padding-left: 50px;
}

.info1{
    padding-left: 30px;
}

