<div class="card mat-card">
    <div class="card-title">
      <h2> Education</h2>    
               <table> 
                <tr>   
                   <td>      
                     <img class="logo_empresas3" [src]="miPorfolio.educacion.liceo.Image" alt="">
                  </td>
                  <td class="info1">
                    <h2>{{miPorfolio.educacion.liceo.name}}</h2>
                    <h5>{{miPorfolio.educacion.liceo.fechaInicial}} - {{miPorfolio.educacion.liceo.fechaFinal}} <br>
                      {{miPorfolio.educacion.liceo.ciudad}} - {{miPorfolio.educacion.liceo.pais}}
                    </h5>  
                    <h3>{{miPorfolio.educacion.liceo.titulo}}</h3>
                     
                  </td>
               </tr>
            </table>  

            <table> 
               <tr>   
                  <td>      
                    <img class="logo_empresas3" [src]="miPorfolio.educacion.Uni.Image" alt="">
                 </td>
                 <td class="info1">
                   <h2>{{miPorfolio.educacion.Uni.name}}</h2>
                   <h5>{{miPorfolio.educacion.Uni.fechaInicial}} - {{miPorfolio.educacion.Uni.fechaFinal}} <br>
                     {{miPorfolio.educacion.Uni.ciudad}} - {{miPorfolio.educacion.Uni.pais}}
                   </h5>  
                   <h3>{{miPorfolio.educacion.Uni.carrera}}</h3>
                    
                 </td>
              </tr>
           </table>  
     
  