<div class="card mat-card">
    <div class="card-title">
      <h2> Proyectos</h2>    
      <table> 
       <tr>   
          <td>      
            <img class="logo_empresas3" [src]="miPorfolio.proyectos.a.Image" alt="">
         </td>
         <td class="info1">
           <h2>{{miPorfolio.proyectos.a.name}}</h2>
           <h5>{{miPorfolio.proyectos.a.fechaInicial}} - {{miPorfolio.proyectos.a.fechaFinal}} <br>
             {{miPorfolio.proyectos.a.ciudad}} - {{miPorfolio.proyectos.a.pais}}
           </h5> 
           <h4>Nombre Proyecto</h4> 
           <h3>{{miPorfolio.proyectos.a.nombreProy}}</h3>
         </td>
      </tr>
   </table>  