<div class="mat-card">


            <! habilidades profesionales !>
            <h2>Habilidades</h2>
                     <div class="card-group">
                       
                         <div class="card-body">
                            <h2>Profesionales</h2>
                            <div class="habilidades">
                                <h3>Trabajo Bajo Presión</h3>
                            <div class="barra">
                            <div class="progreso" style="--w:90%"></div>
                            </div>
                             </div>
                       
                             <div class="habilidades">
                                <h3>Comunicación</h3>
                                <div class="barra">
                               <div class="progreso" style="--w:85%"></div>
                              </div>
                              </div>
    
                                <div class="habilidades">
                                <h3>Asertividad</h3>
                                <div class="barra">
                                <div class="progreso" style="--w:75%"></div>
                                </div>
                                </div>

                            </div>
                                                
                         <div class="card-body">
                                <br><br>
                                <div class="habilidades">
                                    <h3>Trabajo En Equipo</h3>
                                      <div class="barra">
                                          <div class="progreso" style="--w:95%"></div>
                                      </div>
                                    </div>
                            
                                    <div class="habilidades">
                                    <h3>Responsabilidad</h3>
                                      <div class="barra">
                                          <div class="progreso" style="--w:95%"></div>
                                      </div>
                                    </div>
                           
                                    <div class="habilidades">
                                    <h3>Puntualidad</h3>
                                      <div class="barra">
                                          <div class="progreso" style="--w:95%"></div>
                                      </div>
                                      </div>
                              </div>
                       
                         <div class="card-body">
                                <! habilidades Técnicas !>
                                <h2>Técnicas</h2>
                                <div class="habilidades">
                                    <h3>HTML</h3>
                                        <div class="barra">
                                            <div class="progreso2" style="--w:80%"></div>
                                        </div>
                                    </div>
            
                                    <div class="habilidades">
                                        <h3>CCS</h3>
                                        <div class="barra">
                                              <div class="progreso2" style="--w:85%"></div>
                                        </div>
                                    </div>
            
                                    <div class="habilidades">
                                        <h3>PHP</h3>
                                          <div class="barra">
                                              <div class="progreso2" style="--w:60%"></div>
                                          </div>
                                    </div>
                              </div>

                         <div class="card-body">
                                <br><br>
                                <div class="habilidades">
                                    <h3>BASE DE DATOS</h3>
                                    <div class="barra">
                                          <div class="progreso2" style="--w:70%"></div>
                                    </div>
                                </div>
                                                    
                                <div class="habilidades">
                                  <h3>WORD</h3>
                                    <div class="barra">
                                        <div class="progreso2" style="--w:95%"></div>
                                    </div>
                                </div>
        
                                <div class="habilidades">
                                    <h3>EXCEL</h3>
                                      <div class="barra">
                                          <div class="progreso2" style="--w:95%"></div>
                                      </div>
                                </div>
                              </div>

                        <div class="card-body">
                                <br><br>
                                <div class="habilidades">
                                    <h3>POWER POINT</h3>
                                      <div class="barra">
                                          <div class="progreso2" style="--w:95%"></div>
                                      </div>
                                  </div>
        
                                  <div class="habilidades">
                                      <h3>OUTLOOK</h3>
                                        <div class="barra">
                                            <div class="progreso2" style="--w:95%"></div>
                                        </div>
                                  </div>
                                
                                    <div class="habilidades">
                                      <h3>PHOTOSHOP</h3>
                                        <div class="barra">
                                            <div class="progreso2" style="--w:85%"></div>
                                        </div>
                                    </div>                             
                                 </div>

                         <div class="card-body">
                                <br><br>
                                <div class="habilidades">
                                    <h3>MATEMATICAS</h3>
                                      <div class="barra">
                                          <div class="progreso2" style="--w:95%"></div>
                                      </div>
                                </div>
    
                                <div class="habilidades">
                                    <h3>FISICA</h3>
                                      <div class="barra">
                                          <div class="progreso2" style="--w:95%"></div>
                                      </div>
                                  </div>
    
                                  <div class="habilidades">
                                      <h3>ALGEBRA</h3>
                                        <div class="barra">
                                            <div class="progreso2" style="--w:95%"></div>
                                        </div>
                                  </div>
                              </div>

                </div>

                    