<div class="card mat-card">
    <div class="card-title">
        <h1>Habilidades</h1>
        <br>
            <h2>Profesionales</h2>
                
            <table>
                <tr>
                    <td>                        
                        <div class="habilidades">
                            <h3>Trabajo Bajo Presión</h3>
                        <div class="barra">
                        <div class="progreso" style="--w:90%"></div>
                        </div>
                         </div>
                   
                         <div class="habilidades">
                            <h3>Comunicación</h3>
                            <div class="barra">
                           <div class="progreso" style="--w:85%"></div>
                          </div>
                          </div>

                            <div class="habilidades">
                            <h3>Asertividad</h3>
                            <div class="barra">
                            <div class="progreso" style="--w:75%"></div>
                            </div>
                            </div>
                    </td>
                    <td>
                            <div class="habilidades">
                            <h3>Trabajo En Equipo</h3>
                              <div class="barra">
                                  <div class="progreso" style="--w:95%"></div>
                              </div>
                            </div>
                    
                            <div class="habilidades">
                            <h3>Responsabilidad</h3>
                              <div class="barra">
                                  <div class="progreso" style="--w:95%"></div>
                              </div>
                            </div>
                   
                            <div class="habilidades">
                            <h3>Puntualidad</h3>
                              <div class="barra">
                                  <div class="progreso" style="--w:95%"></div>
                              </div>
                              </div>
                    </td>
                </tr>
            </table>

                 <h2>Técnicas</h2>

                    <table>
                     <tr>
                        <td>

                        <div class="habilidades">
                        <h3>HTML</h3>
                            <div class="barra">
                                <div class="progreso2" style="--w:80%"></div>
                            </div>
                        </div>

                        <div class="habilidades">
                            <h3>CCS</h3>
                            <div class="barra">
                                  <div class="progreso2" style="--w:85%"></div>
                            </div>
                        </div>

                        <div class="habilidades">
                            <h3>PHP</h3>
                              <div class="barra">
                                  <div class="progreso2" style="--w:60%"></div>
                              </div>
                        </div>
                    </td>
                    <td>
                        <div class="habilidades">
                            <h3>BASE DE DATOS</h3>
                            <div class="barra">
                                  <div class="progreso2" style="--w:70%"></div>
                            </div>
                        </div>
                                            
                        <div class="habilidades">
                          <h3>WORD</h3>
                            <div class="barra">
                                <div class="progreso2" style="--w:95%"></div>
                            </div>
                        </div>

                        <div class="habilidades">
                            <h3>EXCEL</h3>
                              <div class="barra">
                                  <div class="progreso2" style="--w:95%"></div>
                              </div>
                        </div>
                    </td>
                    </table>
          
                    <table>
                        <tr>
                        <td>

                         <div class="habilidades">
                            <h3>POWER POINT</h3>
                              <div class="barra">
                                  <div class="progreso2" style="--w:95%"></div>
                              </div>
                          </div>

                          <div class="habilidades">
                              <h3>OUTLOOK</h3>
                                <div class="barra">
                                    <div class="progreso2" style="--w:95%"></div>
                                </div>
                          </div>
                        
                            <div class="habilidades">
                              <h3>PHOTOSHOP</h3>
                                <div class="barra">
                                    <div class="progreso2" style="--w:85%"></div>
                                </div>
                            </div>
                    </td>
                    <td>
                            <div class="habilidades">
                                <h3>MATEMATICAS</h3>
                                  <div class="barra">
                                      <div class="progreso2" style="--w:95%"></div>
                                  </div>
                            </div>

                            <div class="habilidades">
                                <h3>FISICA</h3>
                                  <div class="barra">
                                      <div class="progreso2" style="--w:95%"></div>
                                  </div>
                              </div>

                              <div class="habilidades">
                                  <h3>ALGEBRA</h3>
                                    <div class="barra">
                                        <div class="progreso2" style="--w:95%"></div>
                                    </div>
                              </div>
                     </td>
                     </tr>
                    </table>
          
