*{
    margin: 0;
    box-sizing: border-box;
}

body {
 font-family: sans-serif;
 padding: 5px 0px 0;
 color: white;
}

h2 {
    padding-left: 5px;
}

card-title{
    background-color: #090303;
}

.nav {
    display:flex;    
    max-width: 1200px;
    margin: o auto;
   }


.nav-menu {
    display: flex;
    margin-right: 10px;
    list-style: none;
}

.nav-menu-item {
    margin: 0 10px;
    line-height: 120px;
    text-transform: uppercase;
    width: max-content;
}



.barra{
    width: 200px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 20px 25px 45px rgba(0,0,0,0.5);
}

.progreso{
    width: var(--w);
    height: 20px;
    background: #0ef061;
    border-radius: 10px;
    animation: Aumentar 5s ease;
}

.progreso2{
    width: var(--w);
    height: 20px;
    background: #40d9f0;
    border-radius: 10px;
    animation: Aumentar 5s ease;
}

@keyframes Aumentar{
    0%{width: 0%;}
    100%{width: var(--w);}
}



.mat-card{
    border-radius: 22px;
    margin: 30px 10px;
    padding: 5px;
    border-color: blue;
    background-color:rgb(6, 11, 11);
}

.mat-card#first-card{
    padding: 0;
   }




